<div class="map-container">
  <img src="/images/world-map.jpg" id="world-map-static" />
	<img src="/images/world-map.jpg" usemap="#mapmap" id="world-map-interactive" />
	<div id="infobox">
    <div class="language-info" id="am">እኛ አባላት፣ አስተዋጽዖ አድራጊዎች እና መሪዎች እድሜ፣ የሰውነት መጠን፣...</div>
    <div class="language-info" id="ar">...المضايقات للجميع، بغض النظر</div>
    <div class="language-info" id="bn">গোষ্ঠীর অবাধ এবং স্বাগতপূর্ণ ভাবমূর্তি বজায় রাখার আগ্রহে...</div>
    <div class="language-info" id="bs">U interesu ohrabrivanja otvorenog i pristupačnog okruženja...</div>
    <div class="language-info" id="ca">Nosaltres, com a membres, col·laboradors i administradors ens comprometem...</div>
    <div class="language-info" id="da">Som medlemmer, bidragsydere og ledere lover vi at deltagelse...</div>
    <div class="language-info" id="de">Als die Mitwirkenden und die Verantwortlichen dieses Projekts</div>
    <div class="language-info" id="el">Θέλοντας να καλλιεργήσουμε κλίμα ανοιχτό και φιλόξενο προς...</div>
    <div class="language-info" id="eu">Gu, kide, laguntzaile eta administratzaile moduan...</div>
    <div class="language-info" id="en">We pledge to make our community safe, accessible, and equitable...</div>
    <div class="language-info" id="es">Como contribuyentes y administradores de este proyecto...</div>
    <div class="language-info" id="fa-IR">کنندگان و توسعه دهندگان متعهد می‌شویم که</div>
    <div class="language-info" id="fr">En tant que contributeurs et responsables de ce projet...</div>
    <div class="language-info" id="gu">ખુલ્લા અને આવકાર્ય વાતાવરણ ઉત્તેજીત કરવાનાં હિતમાં...</div>
    <div class="language-info" id="hi">हम योगदानकर्ता, अनुरक्षक एवं नेत्रत्वकर्ता के रूप में प्रतिज्ञा करते हैं कि हम समुदाय में भागीदारी को - उम्र...</div>
    <div class="language-info" id="hu">A nyitott és barátságos környezet megteremtése érdekében mi...</div>
    <div class="language-info" id="id">Kami sebagai anggota, kontributor, dan pengelola berikrar untuk membuat partisipasi...</div>
    <div class="language-info" id="is">Í þágu þess að hlúa að opnu og aðlaðandi umhverfi...</div>
    <div class="language-info" id="it">Nell'interesse della promozione di un ambiente aperto e accogliente...</div>
    <div class="language-info" id="iw">...לטובת עידוד של סביבה פתוחה ומקבלת</div>
    <div class="language-info" id="ja">メンバー、コントリビューター、およびリーダーとして、年齢...</div>
    <div class="language-info" id="kn">ಮುಕ್ತ ಮತ್ತು ಸ್ವಾಗತ ಪರಿಸರವನ್ನು ಬೆಳೆಸುವ ಆಸಕ್ತಿಯಲ್ಲಿ, ನಾವು ಕೊಡುಗೆದಾರರು ಮತ್ತು...</div>
    <div class="language-info" id="ko">우리는 구성원, 기여자 및 리더로서 커뮤니티에 참여하여 연령...</div>
    <div class="language-info" id="mk">Во интерес на негување на отворена и пријатна околина...</div>
    <div class="language-info" id="mr">𑘦𑘻𑘎𑘯𑘹 𑘁𑘜𑘲 𑘭𑘿𑘪𑘰𑘐𑘝𑘰𑘨𑘿𑘮 𑘪𑘰𑘝𑘰𑘪𑘨𑘜 𑘑𑘚𑘪𑘲𑘜𑘿𑘧𑘰𑘓𑘰 𑘮𑘲𑘝𑘰𑘡𑘹 𑘁𑘦𑘿𑘮𑘲, 𑘧𑘻𑘐𑘟𑘰𑘝𑘰 𑘁𑘜𑘲 𑘢𑘰𑘩𑘡𑘎𑘨𑘿𑘝𑘰...</div>
    <div class="language-info" id="ms">Kami sebagai ahli, penata, dan ketua, berikrar akan menjadikan...</div>
    <div class="language-info" id="nl">Wij als leden, contribuanten en communityleiders beloven om deelname...</div>
    <div class="language-info" id="pl">W celu wspierania otwartego i przyjaznego środowiska...</div>
    <div class="language-info" id="pt-br">Como pessoas participantes, colaboradoras e líderes, nós nos comprometemos...</div>
    <div class="language-info" id="pt">Com o interesse de fomentar uma comunidade aberta e acolhedora...</div>
    <div class="language-info" id="ro">În scopul de a menține un mediu deschis și primitor, noi, în rolul...</div>
    <div class="language-info" id="ru">Мы, как участники, авторы и лидеры обязуемся сделать участие в сообществе...</div>
    <div class="language-info" id="sv">I syftet att fostra en öppen och välkomnande miljö...</div>
    <div class="language-info" id="sw">Sisi kama wanachama, wachangiaji, na viongozi tunaahidi...</div>
    <div class="language-info" id="tr">Herkes için açık ve erişilebilir bir ortam sağlamak amacıyla üyeler...</div>
    <div class="language-info" id="uk">В інтересах зміцнення відкритого і дружнього середовища...</div>
    <div class="language-info" id="vi">Với tư cách là thành viên, người đóng góp và người lãnh đạo...</div>
    <div class="language-info" id="zh-cn">身为社区成员、贡献者和领袖，我们承诺使社区参与者不受骚扰，无论其年龄、体型...</div>
    <div class="language-info" id="zh-tw">為了促進一個開放透明且受歡迎的環境，我們作為貢獻者和維護者保證...</div>
	</div>
</div>

<map name="mapmap" id="mapmap">
  <area shape="rect" coords="474,281,458,268" onmouseover="toggleLanguageBox('am');" onmouseout="toggleLanguageBox('am');">
  <area shape="rect" coords="361,181,370,193" onmouseover="toggleLanguageBox('eu');" onmouseout="toggleLanguageBox('eu');">
  <area shape="rect" coords="536,232,550,246" onmouseover="toggleLanguageBox('mr');" onmouseout="toggleLanguageBox('mr');">
  <area shape="rect" coords="637,282,653,298" onmouseover="toggleLanguageBox('ms');" onmouseout="toggleLanguageBox('ms');">
  <area shape="rect" coords="458,266,475,283" onmouseover="toggleLanguageBox('sw');" onmouseout="toggleLanguageBox('sw');">
  <area shape="rect" coords="454,171,441,160" onmouseover="toggleLanguageBox('uk');" onmouseout="toggleLanguageBox('uk');">
  <area shape="rect" coords="614,246,627,257" onmouseover="toggleLanguageBox('vi');" onmouseout="toggleLanguageBox('vi');">
  <area shape="poly" coords="503,210,503,216,497,216,497,210,503,210" onmouseover="toggleLanguageBox('fa-IR');" onmouseout="toggleLanguageBox('fa-IR');">
  <area shape="poly" coords="450,162,450,168,444,168,444,162,450,162" onmouseover="toggleLanguageBox('uk');" onmouseout="toggleLanguageBox('uk');">
  <area shape="poly" coords="659,234,659,240,653,240,653,234,659,234" onmouseover="toggleLanguageBox('zh-tw');" onmouseout="toggleLanguageBox('zh-tw');">
  <area shape="poly" coords="458,197,458,203,452,203,452,197,458,197" onmouseover="toggleLanguageBox('tr');" onmouseout="toggleLanguageBox('tr');">
  <area shape="poly" coords="421,153,421,159,415,159,415,153,421,153" onmouseover="toggleLanguageBox('pl');" onmouseout="toggleLanguageBox('pl');">
  <area shape="poly" coords="391,149,391,155,385,155,385,149,391,149" onmouseover="toggleLanguageBox('nl');" onmouseout="toggleLanguageBox('nl');">
  <area shape="poly" coords="423,172,423,178,417,178,417,172,423,172" onmouseover="toggleLanguageBox('mk');" onmouseout="toggleLanguageBox('mk');">
  <area shape="poly" coords="436,175,436,181,430,181,430,175,436,175" onmouseover="toggleLanguageBox('ro');" onmouseout="toggleLanguageBox('ro');">
  <area shape="poly" coords="667,189,667,196,661,196,661,189,667,189" onmouseover="toggleLanguageBox('ko');" onmouseout="toggleLanguageBox('ko');">
  <area shape="poly" coords="555,252,555,258,549,258,549,252,555,252" onmouseover="toggleLanguageBox('kn');" onmouseout="toggleLanguageBox('kn');">
  <area shape="poly" coords="558,220,558,226,552,226,552,220,558,220" onmouseover="toggleLanguageBox('ma');" onmouseout="toggleLanguageBox('ma');">
  <area shape="poly" coords="697,183,697,189,691,189,691,183,697,183" onmouseover="toggleLanguageBox('ja');" onmouseout="toggleLanguageBox('ja');">
  <area shape="poly" coords="468,221,468,227,462,227,462,221,468,221" onmouseover="toggleLanguageBox('iw');" onmouseout="toggleLanguageBox('iw');">
  <area shape="poly" coords="411,193,411,200,405,200,405,193,411,193" onmouseover="toggleLanguageBox('it');" onmouseout="toggleLanguageBox('it');">
  <area shape="poly" coords="332,100,332,106,326,106,326,100,332,100" onmouseover="toggleLanguageBox('is');" onmouseout="toggleLanguageBox('is');">
  <area shape="poly" coords="633,309,633,316,627,316,627,309,633,309" onmouseover="toggleLanguageBox('id');" onmouseout="toggleLanguageBox('id');">
  <area shape="poly" coords="412,170,412,176,406,176,406,170,412,170" onmouseover="toggleLanguageBox('hu');" onmouseout="toggleLanguageBox('hu');">
  <area shape="poly" coords="565,242,565,248,559,248,559,242,565,242" onmouseover="toggleLanguageBox('hi');" onmouseout="toggleLanguageBox('hi');">
  <area shape="poly" coords="545,236,545,242,539,242,539,236,545,236" onmouseover="toggleLanguageBox('gu');" onmouseout="toggleLanguageBox('gu');">
  <area shape="poly" coords="428,204,428,210,422,210,422,204,428,204" onmouseover="toggleLanguageBox('el');" onmouseout="toggleLanguageBox('el');">
  <area shape="poly" coords="400,162,400,168,394,168,394,162,400,162" onmouseover="toggleLanguageBox('de');" onmouseout="toggleLanguageBox('de');">
  <area shape="poly" coords="398,141,398,147,392,147,392,141,398,141" onmouseover="toggleLanguageBox('da');" onmouseout="toggleLanguageBox('da');">
  <area shape="poly" coords="382,189,382,195,376,195,376,189,382,189" onmouseover="toggleLanguageBox('ca');" onmouseout="toggleLanguageBox('ca');">
  <area shape="poly" coords="428,186,428,192,422,192,422,186,428,186" onmouseover="toggleLanguageBox('bs');" onmouseout="toggleLanguageBox('bs');">
  <area shape="poly" coords="234,364,234,370,228,370,228,364,234,364" onmouseover="toggleLanguageBox('es');" onmouseout="toggleLanguageBox('es');">
  <area shape="poly" coords="450,234,450,240,444,240,444,234,450,234" onmouseover="toggleLanguageBox('ar');" onmouseout="toggleLanguageBox('ar');">
  <area shape="poly" coords="411,118,411,124,405,124,405,118,411,118" onmouseover="toggleLanguageBox('sv');" onmouseout="toggleLanguageBox('sv');">
  <area shape="poly" coords="260,312,260,318,254,318,254,312,260,312" onmouseover="toggleLanguageBox('pt-br');" onmouseout="toggleLanguageBox('pt-br');">
  <area shape="poly" coords="158,192,158,198,152,198,152,192,158,192" onmouseover="toggleLanguageBox('en');" onmouseout="toggleLanguageBox('en');">
  <area shape="poly" coords="152,244,152,250,146,250,146,244,152,244" onmouseover="toggleLanguageBox('es');" onmouseout="toggleLanguageBox('es');">
  <area shape="poly" coords="358,191,358,197,352,197,352,191,358,191" onmouseover="toggleLanguageBox('pt');" onmouseout="toggleLanguageBox('pt');">
  <area shape="poly" coords="620,206,620,212,614,212,614,206,620,206" onmouseover="toggleLanguageBox('zh-cn');" onmouseout="toggleLanguageBox('zh-cn');">
  <area shape="poly" coords="386,169,386,175,380,175,380,169,386,169" onmouseover="toggleLanguageBox('fr');" onmouseout="toggleLanguageBox('fr');">
  <area shape="poly" coords="587,230,587,236,581,236,581,230,587,230" onmouseover="toggleLanguageBox('bn');" onmouseout="toggleLanguageBox('bn');">
  <area shape="poly" coords="592,113,592,119,586,119,586,113,592,113" onmouseover="toggleLanguageBox('ru');" onmouseout="toggleLanguageBox('ru');">
</map>
